{% extends 'base_generic.html' %}
{% block content %}
<div class="body container clearfix">
    <section class="registration-page col-lg-6">
        <article >
            <div class="article-content">
                <form method="post">
                    <h1>Вход</h1>
                    <div class="input-form"><!-- НИК ИЛИ ПОЧТА?-->
                        <input type="text" name="username"autofocus required id="id_username" placeholder="Введите логин">
                    </div>
                    <div>
                        <input type="password" name="password" required id="id_password" placeholder="Введите пароль">
                    </div>
                    <input type="submit" value="login">
                    <input type="hidden" name="next" value="/accounts/login">
                </form>
                <p>
{#                    <a href="/account/password_reset/">Забыли пароль?</a>#}
                </p>
            </div>
        </article>
    </section>
{% endblock %}