<!doctype html>
<head>
	<meta charset="utf-8">
	<title>Управленческое сообщество Сибири</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<link rel="stylesheet" type="text/css" href="css/calendar.css" />
	<link rel="stylesheet" type="text/css" href="css/custom_2.css" />
</head>
<body>
	<!-- <div class="bg-img">
		<img src="imgs/background.jpg">
	</div> -->
		<nav class="globalnav">
			<menu class="menu-main container flex-container">
				<nav class="menu-left">
					<li><a href="#main"><img class="logo" src="imgs/logo.png"></a></li>
					<li><a href="#about" target="_blank">О нас</a></li>
					<li><a href="#news">Новости</a></li>
					<li><a href="#contact">Контакты</a></li>
					<li><a href="#projects">Проекты</a></li>
					<li><a href="#partners">Партнеры</a></li>
				</nav>
				<nav class="menu-right">
					<li><a href="#search">Поиск</a></li>
					<li><a href="#personal">Личный кабинет</a></li>
					<li><a href="#register">Регистрация</a></li>
					<li><a href="#login">Вход</a></li>
				</nav>
			</menu>
		</nav>
	<div class="body container clearfix">
		<section class="navigation">Навигация</section>
		<section class="registration-page col-lg-6">
			<article >
				<div class="article-content">
					<form method="post">
						<h1>Вход</h1>
						<div class="input-form"><!-- НИК ИЛИ ПОЧТА?-->
							<input type="text" name="username"autofocus required id="id_username" placeholder="Введите логин">
						</div>
						<div>
							<input type="password" name="password" required id="id_password" placeholder="Введите пароль">
						</div>
						<input type="submit" value="login">
						<input type="hidden" name="next" value="/accounts/login">
					</form>
					<p>
						<a href="/accounts/password_reset/">Забыли пароль?</a>
					</p>
				</div>
			</article>
		</section>
	</div>
	<footer>
		<section class="footer container">
			<div class="footer-menu">
				<img class="logo" src="imgs/logo.png">
			</div>
			<div class="footer-menu copyright">
				<div>ОО РП «Управленческое сообщество Сибири»</div>
			</div>
			<div class="footer-menu socials">
				<h5>Социальные сети</h5>
				<ul>
					<li><a href="#">Вконтакте</a></li>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Instagram</a></li>
				</ul>
			</div>
			<div class="footer-menu contacts">
				<h5>Контакты</h5>
			</div>
			<div class="footer-menu usefull_links">
				<h5>Полезные ссылки</h5>
				<a href="#">Карта сайта</a>
			</div>
		</section>
	</footer>


		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</body>