{% extends 'news.html' %}
{% block articles %}
    <article class="article news">
				<div class="article-img">
					<img src="../static/images/background.jpg">
				</div>
				<div class="article-content">
					<h1>Информация об «Управленческом Сообществе Сибири»</h1>
					<p>Цель ОО РП "Управленческое Сообщество Сибири" (УСС) заключается в содействии консолидации управленческого сообщества - предпринимателей, представителей малого и среднего бизнеса, а также представителей общественных организаций и органов власти для участия в формировании благоприятных экономических, политических, правовых и иных условий развития предпринимательской деятельности на территории Красноярского края, обеспечивающих эффективное развитие экономики.
					<h2>Наши цели</h2>
                    <p>
					    повышение экономической и финансовой грамотности;
					<br>взаимодействие с органами государственной власти;
					<br>организация межсекторного взаимодействия;
					<br>оказание организационной, информационной и консультационной помощи;
					<br>консультации по получению средств государственной поддержки;
					<br>создание необходимых условий для подготовки и переподготовки управленческих кадров, их трудоустройства;
					<br>организация бизнес-миссий на территории Красноярского края, РФ и за рубеж;
					<br>и многое другое.
					</p>
				</div>
			</article>
{% endblock %}