{% extends 'news.html' %}
{% block articles %}
    <article class="article news">
				<div class="article-img">
					<img src="../static/images/background.jpg">
				</div>
				<div class="article-content">
					<h1>Свяжитесь с нами</h1>
					<p>Цель ОО РП "Управленческое Сообщество Сибири" (УСС) заключается в содействии консолидации управленческого сообщества - предпринимателей, представителей малого и среднего бизнеса, а также представителей общественных организаций и органов власти для участия в формировании благоприятных экономических, политических, правовых и иных условий развития предпринимательской деятельности на территории Красноярского края, обеспечивающих эффективное развитие экономики.
					<h2>Наши контакты</h2>
                    <p>
					</p>
				</div>
			</article>
{% endblock %}