{% extends "base_generic.html" %}
{% load staticfiles %}
{% block bg-image %}
    <div class="bg-img">
		<img src="../static/images/background.jpg">
	</div>
{% endblock bg-image %}
{% block content %}
    <section class="header-main">
			<p class="header-title">Бизнес-интенсив «Деловая Сибирь»</p>
			<p class="subtitle">Управляй и развивай!</p>
			<button class="btn btn-light" type="submit">Записаться</button>
		</section>
		<section class="projects">
			<h2>Проекты</h2>
			<div class="project-item"><img src="../static/images/project-template.png"><h3>Проект 1</h3><p>Тут должно быть короткое описание</p></div>
			<div class="project-item"><img src="../static/images/project-template.png"><h3>Проект 2</h3><p>Тут должно быть короткое описание</p></div>
			<div class="project-item"><img src="../static/images/project-template.png"><h3>Проект 3</h3><p>Тут должно быть короткое описание</p></div>
			<div class="project-item"><img src="../static/images/project-template.png"><h3>Проект 4</h3><p>Тут должно быть короткое описание</p></div>
		</section>
		<section class="partners">
			<h2>Партнеры</h2>
			<div class="partners-slider-container">
				<ul class="uk-slider">
					<li class=""><a href="http://www.opora.ru">Опора России</a></li>
				</ul>
			</div>
		</section>
{% endblock %}